# --- Database & Performance ---
# PostgreSQL adapter
psycopg2-binary==2.9.12
gunicorn==26.0.0
uvicorn==0.49.0

# --- Security & Environment ---
python-dotenv==1.2.2
# --- Utilities ---
# Image processing
pillow==12.2.0
# Advanced data validation
pydantic==2.13.4

# --- Asynchronous Tasks & Scheduling (Celery + Redis) ---
# The main task queue framework
celery==5.6.3
# Python client for the Redis broker
redis==8.0.1

requests==2.34.2
polars==1.42.0
pandas
django-celery-results>=2.5.1
# Database-backed periodic tasks (requires 'django_celery_beat' in INSTALLED_APPS)
django-celery-beat>=2.7.0

# --- Automatización y Scrapping ---
# Selenium 4.18+ es ideal para Python 3.11
playwright==1.60.0
playwright-stealth==2.0.3

Django==6.0.6
# --- API Layer ---
django-ninja==1.6.2
djangorestframework==3.17.1
drf-spectacular==0.29.0
