# --- Core y Utilidades ---
python-dotenv==1.2.2
requests==2.34.2
polars==1.42.0
pandas

# --- Automatización y Scrapping ---
playwright==1.60.0
playwright-stealth==2.0.3

# --- Intellisense y Productividad (IDE Experience) ---
black==26.5.1
jupyterlab-lsp
python-lsp-server[all]
jupyter-resource-usage
jupyterlab-execute-time
